.Color {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-shadow: black 0 0 15px;
}

.Color a {
  color: white;
}