.makeup-card {
  min-width: 150px;
  width: 20%;
  display: inline-block;
  margin: 40px;
  height: 550px;
  overflow: hidden;
}

.makeup-heading {
  font-size: 1.25em;
}

.makeup-desc {
  font-size: .85em;
}

.brand-name {
  background-color: pink;
  font-size: 2em;
  border: -3px solid red;
  border-radius: 5px;
  margin: 4px;
  line-height: 1.5
}

.selector {
  width: 100%;
  overflow: hidden;
  margin: 5px;
  padding: 5px;
}
